@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

@tailwind base;

@tailwind components;

.blink-1 {
	-webkit-animation: blink-1 800ms ease-in-out infinite both;
	        animation: blink-1 800ms ease-in-out infinite both;
}

 @-webkit-keyframes blink-1 {
    0%,
    50%,
    100% {
      opacity: 1;
    }
    25%,
    75% {
      opacity: 0;
    }
  }
  @keyframes blink-1 {
    0%,
    50%,
    100% {
      opacity: 1;
    }
    25%,
    75% {
      opacity: 0;
    }
  }
  

@tailwind utilities;
